# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.env
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.*
*.tfvars.*
*.tfplan
*.tfplan.*
*.exe
*.zip
*.tar
*.tar.gz
*.tgz

# folder inside notebooks named model
notebooks/model1/
notebooks/multitask_model_checkpoint/